In [235]:
import pandas as pd

In [236]:
cases = pd.read_csv('./Covid_data/time_series_covid19_confirmed_US.csv')
deaths = pd.read_csv('./Covid_data/time_series_covid19_deaths_US.csv')

In [237]:
US_states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [238]:
date_index = pd.Series(cases.groupby('Province_State').sum().iloc[:, 5:].columns)
date_index = pd.to_datetime(date_index)

In [239]:
covid_df = cases.groupby('Province_State').sum().iloc[:, 5:].transpose()

covid_df = covid_df.set_index(date_index)

covid_df = covid_df.loc[:, US_states]

In [240]:
covid_df.columns = [str(col) + '_cases' for col in covid_df.columns]

In [241]:
pop_df = deaths.groupby('Province_State').sum().reset_index()

In [242]:
pop_df = pop_df.loc[:,['Province_State', 'Population']]

In [243]:
deaths_df = deaths.groupby('Province_State').sum().iloc[:, 6:].transpose()

deaths_df = deaths_df.set_index(date_index)

deaths_df = deaths_df.loc[:, US_states]

In [244]:
deaths_df.columns = [str(col) + '_deaths' for col in deaths_df.columns]

In [245]:
covid_df = pd.concat([covid_df, deaths_df], axis=1)

covid_df.columns = [str(col).replace(' ', '_') for col in covid_df.columns]

In [246]:
covid_df

,Alabama_cases,Alaska_cases,Arizona_cases,Arkansas_cases,California_cases,Colorado_cases,Connecticut_cases,Delaware_cases,Florida_cases,Georgia_cases,...,South_Dakota_deaths,Tennessee_deaths,Texas_deaths,Utah_deaths,Vermont_deaths,Virginia_deaths,Washington_deaths,West_Virginia_deaths,Wisconsin_deaths,Wyoming_deaths
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-31,87723,2990,174010,42511,500556,46791,49810,14788,470386,186352,...,130,1060,6576,304,57,2174,1564,116,934,26
2020-08-01,89349,3136,177002,43173,506613,47249,49810,14877,480028,190012,...,134,1067,6865,310,57,2215,1592,116,947,26
2020-08-02,91444,3280,178467,43810,512175,47709,49810,14949,487132,193177,...,135,1073,6878,311,57,2218,1596,117,948,26
2020-08-03,92661,3341,179497,44597,516851,47950,50062,15055,491884,195435,...,135,1092,7016,314,57,2218,1600,117,949,27
2020-08-04,93702,3394,180505,45381,526685,48376,50110,15137,497330,197948,...,136,1117,7271,321,57,2244,1619,124,961,27

In [247]:
covid_df.to_hdf('./Covid_data/covid_df.hdf', key='df')
pop_df.to_hdf('./Covid_data/population_df.hdf', key='df')

In [248]:
covid_df = pd.read_hdf('./Covid_data/covid_df.hdf')
covid_df.head()

,Alabama_cases,Alaska_cases,Arizona_cases,Arkansas_cases,California_cases,Colorado_cases,Connecticut_cases,Delaware_cases,Florida_cases,Georgia_cases,...,South_Dakota_deaths,Tennessee_deaths,Texas_deaths,Utah_deaths,Vermont_deaths,Virginia_deaths,Washington_deaths,West_Virginia_deaths,Wisconsin_deaths,Wyoming_deaths
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [249]:
pop_df = pd.read_hdf('./Covid_data/population_df.hdf')
pop_df.head()

   Province_State  Population
0         Alabama     4903185
1          Alaska      731545
2  American Samoa       55641
3         Arizona     7278717
4        Arkansas     3017804